/* src/pages/QuizPage.css */

.quiz-page-container {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  padding: 2rem;
  min-height: 100vh;
}

.quiz-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #3b82f6;

}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  justify-items: center;
}

.course-grid button {
  background-color: #00b894;
  color: white;
  border: none;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 255, 204, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.course-grid button:hover {
  background-color: #26de81;
  transform: scale(1.05);
}

.quiz-card-section {
  max-width: 900px;
  margin: auto;
}
